.addToCartButton {
  background-color: #b79347; /* Gold color */
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.iconCart {
  font-size: 25px;
}

.addToCartButton:hover {
  background-color: #a67c37; /* Darker gold for hover effect */
}

@media (max-width: 768px) {  
  .addToCartButton {
    font-size: 0.9em;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .addToCartButton {
    font-size: 0.3em;
    padding: 6px 10px;
  }
}
