.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  height: max-content;
  border-radius: 8px;
  margin-top: 15vh;
  padding: 10px;
  width: 80%;
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.title {
  font-size: 1rem;
  font-style: italic;
  color: grey;
}

.price {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 5px;
}

.checkoutBtn {
  display: flex;
  width: 100%;
}

@media (max-width: 458px) {
  .container {
    margin-top: 5px;
    width: 100%;
  }
}