.deleteBtn {
  background-color: transparent; /* Make the background transparent */
  color: inherit; /* Inherit text color from parent */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.iconDelete {
  font-size: 25px;
  color: grey; /* Set the icon color to grey */
}

.deleteBtn:hover {
  background-color: transparent; /* Keep background transparent on hover */
}

@media (max-width: 768px) {
  .deleteBtn {
    font-size: 0.9em;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .deleteBtn {
    font-size: 0.3em;
    padding: 6px 10px;
  }
}
